* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: white;
    color: black;
  }
  .navbar {
    overflow: auto;
    background-color: lightslategray;
    margin:5px 5px 25px 5px;
  }
  .navbar a {
    float: right;    
     color: #f2f2f2;
     text-align: center;
     padding: 3px;
     margin: 6px;
     text-decoration: none;
     font-size: 10px;
   }
   .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .container {
    border: 10px solid  rgb(50, 119, 255);
    background-color: green;
    width: 80%;
    height: 140px;
    justify-content: center;
    align-items: center;  
    margin: 0 auto; 
    font-size: 18px;
    font-weight: 800;   
    display: flex;    
    flex-wrap: wrap;
  }
  .magic {
    border: 10px solid  red;    
    width: 80%;
    height: 200px;
    justify-content: center;
    align-items: center;  
    margin: 130px auto; 
    font-size: 18px;
    font-weight: 800;   
    display: none;
    flex-wrap: wrap;
  }


  @media screen and (max-width:1050px){
    body{
        background-color: bisque;
        font-size: 22px;
    }
    .navbar {       
        background-color: rgb(102, 140, 165);
        padding: 6px;
    }
   
    .container{
       height: 200px;
       width: 80%;
    }
    .magic{
        display: none;
    }
  }

  @media screen and (max-width:850px){
    body{
        background-color: chocolate;
        
    }
    .navbar a {       
       color: black;
       font-size: 14px;
       font-weight: bold;
       
    }
    .navbar {       
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    .magic{
            display: none;
        }
        
    }
    
  
  @media screen and (max-width:650px){
    body{
        background-color: blueviolet;
        
    }
    .navbar {
        display: flex;
        flex-direction: column-reverse;
        background-color: cyan;
    }

    .container{
        display: none;
    }
    .magic{
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;         

    }
}


    